@mixin img-style {
  width: 64px;
  height: 64px;
  border-radius: 100%;

  img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    margin: 0px;
    padding: 0px;
  }
}

@mixin over-bg {
  width: 100vw;
  height: 100vh;
  background-color: #52A9FF;
  position: fixed;
}

@mixin scroll-content{

    position: absolute;
    top: 44px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;

}